.password__container {
  height: 100%;
  background: #F8F8F8;

  .password__content {
    padding-top: 10px;
  }

  .password__button--wrapper {
    margin-top: 100px;
    padding: 0 22px;
  }

  .password__token--info {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #0F3256;
  }
}
