.current-result__container {

  .current-result__content {
    display: flex;
    padding-top: 30px;

    .content-steps {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 26px 0 27px;

      .icon-passed {
        position: relative;
        width: 40px;
        height: 40px;
      }

      .icon-clock {
        width: 30px;
        height: 30px;
      }

      .divider--blue {
        height: 52px;
        width: 2px;
        background: linear-gradient(top, #3C64EE, #3C64EE 40%, #DADDE1 40%, #DADDE1);
      }

      .divider--gray {
        height: 62px;
        width: 2px;
        background: #DADDE1;
      }
    }

    .content-text__cards {
      .content-text__card {
        &:not(:last-child) {
          margin-bottom: 40px;
        }

        &:first-child {
          div {
            color: #3C64EE;
          }
        }

        .card__title {
          margin-bottom: 10px;
          color: #0F3256;
          font-size: 16px;
          line-height: 22px;
        }

        .card__content {
          color: #A8AEB9;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .current-result__button {
    margin-top: 60px;
    padding: 0 22px;
  }
}
